<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>GIDServerClientID</key>
    <string>829540323980-ntqbvpr6fssjucop7138mpkdjcqmqert.apps.googleusercontent.com</string>

    <key>GIDClientID</key>
    <string>829540323980-77pq4eh1qrbqo8ianb7ght1766hj5o59.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.829540323980-77pq4eh1qrbqo8ianb7ght1766hj5o59</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
